*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #back{
    background-color: #170730;
  }
  
  #TopBar{
    background-color: #200e3e;
    background: rgb(18, 12, 43);
    background: linear-gradient(333deg, rgba(18,12,43,1) 39%, rgba(150,129,245,1) 96%);
    padding: 1.5vw;
  }
  
  #TopBar>li>a{
    padding: 1vh 5vw;
  }
  
  #TopBar>li{
  list-style-type: none;
  }
  
  .TextBar{
    color: #ffff;
    text-decoration: none;
  }
  
  .nav-link{
    color: #ffff !important;
    text-decoration: none !important;
  }
  
  /* Linea neon blanco */
  
  #BorderLineTop{
    width: 100%;
    padding-top: 5.2vw;
    border-bottom: 1px solid #ffff;
    animation: MyLineMove 3s infinite;
    animation: MyLineShadow 5s infinite;
    box-shadow: 1px 2px #ffff;
  }
  
  #BorderLineBotton{
    width: 100%;
    border-top: 0px solid #ffff;
    animation: MyLineMove 3s infinite;
    animation: MyLineShadow 5s infinite;
    box-shadow: 0px 2px #ffff;
  }
  
  @keyframes MyLineMove {
    50% {border-color: 0px 1px #b1b1b1;}
  }
  
  @keyframes MyLineShadow {
    50% {box-shadow: 0px 1px 15px #b1b1b1;}
  }
  
  /*==============================*/
  
  /*Seccion del medio*/
  
  .card{
    margin: 5vh 2vw;
    background-color: #512d8ac2 !important;
    color: white !important; 
  }
  
  /* Abount us*/
  
  .card>h1 {
  padding: 1.5vw 1vh;
  text-align: center;  
  }
  
  #half{
  text-align: justify;
  padding: 0 3vw;
  }
  
  .firstL::first-letter {
    font-size: 3vw;
    text-shadow: 3px 2px 10px rgba(68, 126, 213, 0.973);
    animation: textL 5s infinite;
  }
  
  #half > p > a{
    text-decoration: none;
    color: white;
    font-size: larger;
  }
  
  .animate-charcter
  {
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    white 0%,
    #120c2b 25%,
    #447dd5 50%,
    #44c4d5 75%,
    white 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 3vw;
  }
  
  @keyframes textclip {
  to {
    background-position: 200% center;
  }
  }
  
  
  
  /*Portafolio*/
  
  #cono{
    background-color: #2a0269c2;
    padding: 3vw 0;
  }
  
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: white !important;
    background-color: #360236c2 !important;
  }
  
  .tab-pane{
    padding-top: 5vh;
  }
  
  #ImagenesE>section>img{
    width: 100%;
    height: auto;
    padding-bottom: 3vh;
  }
  
  #PortDes{
    color: white;
  }
  
  /* footer */
  
  #footerContact{
    color: #fff;
    padding: 3vh 1vw;
  }
  
  .fondoIcono{
    background: rgb(203,87,255);
    background: linear-gradient(0deg, rgba(203,87,255,1) 16%, rgba(86,255,245,1) 52%, rgba(54,132,255,1) 94%);
  }
  
  /* iconos de footer */
  .bounce {
  animation: Bounce 2s ease infinite;
  }
  
  @keyframes Bounce {
    70% { transform:translateY(0%); }
    80% { transform:translateY(-15%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-7%); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-3%); }
    100% { transform:translateY(0); }
  }
  
  
  
  /*================Nuevo Nav===================*/
  .main-header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(18, 12, 43);
  background: linear-gradient(333deg, rgba(18,12,43,1) 39%, rgba(150,129,245,1) 96%);
  padding: 1rem 0.5rem;
  }
  
  .main-logo {
  color: rgb(255, 255, 255);
  font-size: 32px;
  text-decoration: none;
  padding-bottom: -10vw;
  }
  
  .main-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin-left: -100%;
  transition: all 0.2s linear;
  z-index: 100;
  
  }
  
  .main-nav.show {
  margin-left: 0;
  }
  
  
  .nav-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  }
  
  .link-item {
  margin-top: 2rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  }
  
  .button-menu {
  z-index: 200;
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  background: none;
  flex-direction: column; /* Pondrá un span debajo del otro*/
  align-items: center;
  justify-content: center;
  cursor: pointer;
  }
  
  /* 
  Dibujamos una línea recta por cada span creando el tipico menu hamburguesa
  */
  
  .button-menu span {
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: all 0.2s linear;
  }
  
  /* 
  con los span dibujamos un icono de cerrar 
  para mostrar cuándo la navegación este abierta 
  */
  
  .button-menu.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  background: #ffffff;
  }
  
  .button-menu.close span:nth-child(2) {
  transform: rotate(-45deg) translate(-8px, 5px);
  }
  
  .button-menu.close span:nth-child(3) {
  display: none;
  }
  
  /*======Botón de portafolio======*/
  
  .card-img-overlay{
  top: 30% !important;
  
  }
  
  .tarjetas>.btn-danger{
  width: 7vw;
  height: 5vh; 
  }
  
  .tarjetas>.card-img{
  box-shadow: 0 0 20px 10px #ffffff;
  transition: transform ease 0.5s, box-shadow ease 0.2s, opacity ease 0.10s ;
  opacity: 0.75;
  }
  
  .tarjetas>.card-img:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 20px 10px #447dd5, inset 0 0 20px 10px #fff;
  opacity: 0.2;
  }
  
  .btnDeco{
  text-decoration: none;
  color: #fff;
  }
  
  
  
  
  /*PagesUp*/
  
  #button {
  display: inline-block;
  width: 70px; /* Ajusta este tamaño según el tamaño de tu imagen */
  height: 70px; /* Ajusta este tamaño según el tamaño de tu imagen */
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  border-radius: 50%;
  }
  
  #button img {
  width: 100%; /* La imagen se ajustará al tamaño del contenedor */
  height: auto;
  }
  
  #button::after {
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  }
  
  #button:hover {
  cursor: pointer;
  background-color: #333;
  }
  #button:active {
  background-color: #555;
  }
  
  #button.show {
  opacity: 1;
  visibility: visible;
  }
  
  
  /*Historial laboral completo*/

  
  #HistLab-tab-pane {
    font-size: 62.5%;
  }

  #HistLab-tab-pane > section {
    font-size: 1em;
    color: #fff;
    background-color: #170730;
    padding: 10vh 0;
    margin: 0 10vw;
  }

li > a{
    color: #fff;
    text-decoration: none;
  }
 
ol, li{
  list-style-type: none;
 }

 .list > ul{
    font-size: 1rem;
 }

  .cd-horizontal-timeline {
    opacity: 0;
    margin: 2em auto;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
    
  }
 
 
 .cd-horizontal-timeline::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'mobile';
    display: none;
    
  }

  .cd-horizontal-timeline.loaded {
    /* show the timeline after events position has been set (using JavaScript) */
    opacity: 1;
  }

  .cd-horizontal-timeline .timeline {
    position: relative;
    height: 100px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
  }
  .cd-horizontal-timeline .events-wrapper {
    position: relative;
    height: 100%;
    margin: 0 40px;
    overflow: hidden;
  }
  .cd-horizontal-timeline .events-wrapper::after, .cd-horizontal-timeline .events-wrapper::before {
    /* these are used to create a shadow effect at the sides of the timeline */
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    height: 100%;
    width: 20px;
  }
  .cd-horizontal-timeline .events-wrapper::before {
    left: 0;
  }
  .cd-horizontal-timeline .events-wrapper::after {
    right: 0;
  }
  .cd-horizontal-timeline .events {
    /* this is the grey line/timeline */
    position: absolute;
    z-index: 1;
    left: 0;
    top: 49px;
    height: 2px;
    /* width will be set using JavaScript */
    background: #fff;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
  }
  .cd-horizontal-timeline .filling-line {
    
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #44c4d5;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .cd-horizontal-timeline .events a {
    position: absolute;
    width:100px;
    bottom: 0;
    z-index: 2;
    text-align: center;
    font-size: 1.3rem;
    padding-bottom: 15px;
    color: #383838;
    /* fix bug on Safari - text flickering while timeline translates */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    color:white;
    padding:5px;
    margin-bottom:20px;
  }
  /* custom*/
  .cd-horizontal-timeline .events a::before {
    content: '';
    position: absolute;
    width:1px;
    height:20px;
    background: #fff;
    bottom:-20px;
    left:50%;
  }
  
  .cd-horizontal-timeline .events a::after {
    /* this is used to create the event spot */
    content: '';
    position: absolute;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -25px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #fff;
    -webkit-transition: background-color 0.3s, border-color 0.3s;
    -moz-transition: background-color 0.3s, border-color 0.3s;
    transition: background-color 0.3s, border-color 0.3s;
  }
  .no-touch .cd-horizontal-timeline .events a:hover::after {
    background-color: #447dd5;
    border-color: #fff;
  }
  .cd-horizontal-timeline .events a.selected {
    pointer-events: none;
  }
  .cd-horizontal-timeline .events a.selected::after {
    background-color: #447dd5;
    border-color: #447dd5;
  }
  .cd-horizontal-timeline .events a.older-event::after {
    border-color: #447dd5;
  }
  @media only screen and (min-width: 1100px) {
    .cd-horizontal-timeline {
      margin: 6em auto;
    }
    .cd-horizontal-timeline::before {
      /* never visible - this is used in jQuery to check the current MQ */
      content: 'desktop';
    }
  }
  
  .cd-timeline-navigation a {
    /* these are the left/right arrows to navigate the timeline */
    position: absolute;
    z-index: 1;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid #fff;
    /* replace text with an icon */
    overflow: hidden;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
    -webkit-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    transition: border-color 0.3s;
  }
  .cd-timeline-navigation a::after {
    /* arrow icon */
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRw%0D%0AOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE2cHgiIGhl%0D%0AaWdodD0iMzJweCIgdmlld0JveD0iMCAwIDE2IDMyIj48ZyAgdHJhbnNmb3JtPSJ0cmFuc2xhdGUo%0D%0AMCwgMCkiPjxwb2x5Z29uIGZpbGw9IiM3YjlkNmYiIHBvaW50cz0iNiwxMy40IDQuNiwxMiA4LjYs%0D%0AOCA0LjYsNCA2LDIuNiAxMS40LDggIi8+PC9nPjxnICB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLCAx%0D%0ANikiPjxwb2x5Z29uIGZpbGw9IiNkZmRmZGYiIHBvaW50cz0iNiwxMy40IDQuNiwxMiA4LjYsOCA0%0D%0ALjYsNCA2LDIuNiAxMS40LDggIi8+PC9nPjwvc3ZnPg==) no-repeat 0 0;
  }
  .cd-timeline-navigation a.prev {
    left: 0;
    -webkit-transform: translateY(-50%) rotate(180deg);
    -moz-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    -o-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
  }
  .cd-timeline-navigation a.next {
    right: 0;
    color: #fff;
  }
  .no-touch .cd-timeline-navigation a:hover {
    border-color: #447dd5;
  }
  .cd-timeline-navigation a.inactive {
    cursor: not-allowed;
  }
  .cd-timeline-navigation a.inactive::after {
    background-position: 0 -16px;
  }
  .no-touch .cd-timeline-navigation a.inactive:hover {
    border-color: #447dd5;
  }
  
  .cd-horizontal-timeline .events-content {
    position: relative;
    /*width: 100%;
    margin: 3em 0;
    overflow: hidden;
    -webkit-transition: height 0.4s;
    -moz-transition: height 0.4s;
    transition: height 0.4s;*/
    height: auto;
    max-height: 400px; /* Ajusta este valor según la altura que prefieras */
    overflow-y: auto; /* Añadir barra de desplazamiento vertical */
    padding: 20px;
  }
  .cd-horizontal-timeline .events-content li {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    padding: 0 5%;
    opacity: 0;
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  .cd-horizontal-timeline .events-content li.selected {
    /* visible event content */
    position: relative;
    z-index: 2;
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  .cd-horizontal-timeline .events-content li.enter-right, .cd-horizontal-timeline .events-content li.leave-right {
    -webkit-animation-name: cd-enter-right;
    -moz-animation-name: cd-enter-right;
    animation-name: cd-enter-right;
  }
  .cd-horizontal-timeline .events-content li.enter-left, .cd-horizontal-timeline .events-content li.leave-left {
    -webkit-animation-name: cd-enter-left;
    -moz-animation-name: cd-enter-left;
    animation-name: cd-enter-left;
  }
  .cd-horizontal-timeline .events-content li.leave-right, .cd-horizontal-timeline .events-content li.leave-left {
    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse;
    animation-direction: reverse;
  }
  .cd-horizontal-timeline .events-content li > * {
    max-width: 800px;
    margin: 0 auto;
  }
  .cd-horizontal-timeline .events-content h2 {
    font-weight: bold;
    font-size: 3em;
    font-weight: 700;
    line-height: 1.2;
  }
  .cd-horizontal-timeline .events-content em {
    display: block;
    font-style: italic;
    margin: 10px auto;

  }
  .cd-horizontal-timeline .events-content em::before {
    content: '- ';
  }
  .cd-horizontal-timeline .events-content p {
    font-size: 1.5em !important;
    color: #fff;
  }
  .cd-horizontal-timeline .events-content em, .cd-horizontal-timeline .events-content p {
    line-height: 1.6;
    
  }
  @media only screen and (min-width: 768px) {
    .cd-horizontal-timeline .events-content h2 {
      font-size: 7rem;
    }
    .cd-horizontal-timeline .events-content em {
      font-size: 1.5em !important;
    }
    .cd-horizontal-timeline .events-content p {
      font-size: 1.8rem;
    }
  }
  
  @-webkit-keyframes cd-enter-right {
    0% {
      opacity: 0;
      -webkit-transform: translateX(100%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0%);
    }
  }
  @-moz-keyframes cd-enter-right {
    0% {
      opacity: 0;
      -moz-transform: translateX(100%);
    }
    100% {
      opacity: 1;
      -moz-transform: translateX(0%);
    }
  }
  @keyframes cd-enter-right {
    0% {
      opacity: 0;
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      transform: translateX(0%);
    }
  }
  @-webkit-keyframes cd-enter-left {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0%);
    }
  }
  @-moz-keyframes cd-enter-left {
    0% {
      opacity: 0;
      -moz-transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      -moz-transform: translateX(0%);
    }
  }
  @keyframes cd-enter-left {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      transform: translateX(0%);
    }
  }


/* Hobbies */

#HHobbies{
  background-color: #170730;
  width: auto;
  height: 100%;
  margin: 0 10vw;
  padding: 2vw;
  color: white;
}

#textHb{
  color: white;
  font-size: 1.2em;
  text-align: center;
}

#btnHb{
  background: rgb(72,55,149);
background: radial-gradient(circle, rgba(72,55,149,1) 0%, rgba(71,54,148,1) 53%, rgba(32,14,62,1) 100%);
  border-radius: 10%;
  box-shadow: 0 2px 18px 0 rgba(250, 248, 248, 0.2), 0 3px 30px 0 rgba(250, 249, 249, 0.19);
  border-style: groove !important;
  border-color: white !important;
  font-size: 1em;
}

#btnHb>a{
  text-decoration: none;
}

#btnHb:hover{
  background: rgb(72,55,149);
background: radial-gradient(circle, rgba(72,55,149,1) 0%, rgba(71,54,148,1) 10%, rgba(32,14,62,1) 44%);
  border-radius: 10%;
  box-shadow: 0 2px 18px 0 rgba(250, 248, 248, 0.2), 0 3px 30px 0 rgba(250, 249, 249, 0.19);
  border-style: groove !important;
  border-color: white !important;
  font-size: 0.9em;
  color: white !important;
}

.colorPiano{
    background-color: #cccccc;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='70' height='46' viewBox='0 0 70 46'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23333333' fill-opacity='0.4'%3E%3Cpolygon points='68 44 62 44 62 46 56 46 56 44 52 44 52 46 46 46 46 44 40 44 40 46 38 46 38 44 32 44 32 46 26 46 26 44 22 44 22 46 16 46 16 44 12 44 12 46 6 46 6 44 0 44 0 42 8 42 8 28 6 28 6 0 12 0 12 28 10 28 10 42 18 42 18 28 16 28 16 0 22 0 22 28 20 28 20 42 28 42 28 28 26 28 26 0 32 0 32 28 30 28 30 42 38 42 38 0 40 0 40 42 48 42 48 28 46 28 46 0 52 0 52 28 50 28 50 42 58 42 58 28 56 28 56 0 62 0 62 28 60 28 60 42 68 42 68 0 70 0 70 46 68 46'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: 2px 1px 5px rgb(107, 55, 149);
}

.colorJar{
  background-color: #b5ccbf;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='60' height='30'%3E%3Cpath fill='%2340584a' fill-opacity='0.47' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
  font-weight: bold;
  font-size: 1.5em;
  text-shadow: 2px 1px 5px rgb(107, 55, 149);
}

.colorGames{
  background-color: #fff6bd;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='126' height='84' viewBox='0 0 126 84'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23333333' fill-opacity='0.4'%3E%3Cpath d='M126 83v1H0v-2h40V42H0v-2h40V0h2v40h40V0h2v40h40V0h2v83zm-2-1V42H84v40h40zM82 42H42v40h40V42zm-50-6a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm96 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm-42 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm30-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM20 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 24a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24-42a4 4 0 1 1 0-8 4 4 0 0 1 0 8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  font-weight: bold;
  font-size: 1.5em;
  text-shadow: 2px 1px 5px rgb(107, 55, 149);
}

.colorSax{
  background-color: #fcc846;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%237a4948' fill-opacity='0.83' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  font-weight: bold;
  font-size: 1.5em;
  text-shadow: 2px 1px 5px rgb(107, 55, 149);
}

.colorArco{
  background-color: #f395a5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' viewBox='0 0 52 52'%3E%3Cpath fill='%23e6cca5' fill-opacity='0.4' d='M0 17.83V0h17.83a3 3 0 0 1-5.66 2H5.9A5 5 0 0 1 2 5.9v6.27a3 3 0 0 1-2 5.66zm0 18.34a3 3 0 0 1 2 5.66v6.27A5 5 0 0 1 5.9 52h6.27a3 3 0 0 1 5.66 0H0V36.17zM36.17 52a3 3 0 0 1 5.66 0h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 0 1 0-5.66V52H36.17zM0 31.93v-9.78a5 5 0 0 1 3.8.72l4.43-4.43a3 3 0 1 1 1.42 1.41L5.2 24.28a5 5 0 0 1 0 5.52l4.44 4.43a3 3 0 1 1-1.42 1.42L3.8 31.2a5 5 0 0 1-3.8.72zm52-14.1a3 3 0 0 1 0-5.66V5.9A5 5 0 0 1 48.1 2h-6.27a3 3 0 0 1-5.66-2H52v17.83zm0 14.1a4.97 4.97 0 0 1-1.72-.72l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1 0-5.52l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43c.53-.35 1.12-.6 1.72-.72v9.78zM22.15 0h9.78a5 5 0 0 1-.72 3.8l4.44 4.43a3 3 0 1 1-1.42 1.42L29.8 5.2a5 5 0 0 1-5.52 0l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1-.72-3.8zm0 52c.13-.6.37-1.19.72-1.72l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43a5 5 0 0 1 5.52 0l4.43-4.43a3 3 0 1 1 1.42 1.41l-4.44 4.43c.36.53.6 1.12.72 1.72h-9.78zm9.75-24a5 5 0 0 1-3.9 3.9v6.27a3 3 0 1 1-2 0V31.9a5 5 0 0 1-3.9-3.9h-6.27a3 3 0 1 1 0-2h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 1 1 2 0v6.27a5 5 0 0 1 3.9 3.9h6.27a3 3 0 1 1 0 2H31.9z'%3E%3C/path%3E%3C/svg%3E");
  font-weight: bold;
  font-size: 1.5em;
  text-shadow: 2px 1px 5px rgb(107, 55, 149);
}

.colorGato{
  background-color: #ffefaa;
    background-image: url("data:image/svg+xml,%3Csvg width='76' height='76' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23ffadad' fill-opacity='0.84' fill-rule='evenodd'/%3E%3C/svg%3E");
  font-weight: bold;
  font-size: 1.5em;
  text-shadow: 2px 1px 5px rgb(107, 55, 149);
}

.colorCocina{
  background-color: #faaca8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 60 60'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23f55b53' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M29 58.58l7.38-7.39A30.95 30.95 0 0 1 29 37.84a30.95 30.95 0 0 1-7.38 13.36l7.37 7.38zm1.4 1.41l.01.01h-2.84l-7.37-7.38A30.95 30.95 0 0 1 6.84 60H0v-1.02a28.9 28.9 0 0 0 18.79-7.78L0 32.41v-4.84L18.78 8.79A28.9 28.9 0 0 0 0 1.02V0h6.84a30.95 30.95 0 0 1 13.35 7.38L27.57 0h2.84l7.39 7.38A30.95 30.95 0 0 1 51.16 0H60v27.58-.01V60h-8.84a30.95 30.95 0 0 1-13.37-7.4L30.4 60zM29 1.41l-7.4 7.38A30.95 30.95 0 0 1 29 22.16 30.95 30.95 0 0 1 36.38 8.8L29 1.4zM58 1A28.9 28.9 0 0 0 39.2 8.8L58 27.58V1.02zm-20.2 9.2A28.9 28.9 0 0 0 30.02 29h26.56L37.8 10.21zM30.02 31a28.9 28.9 0 0 0 7.77 18.79l18.79-18.79H30.02zm9.18 20.2A28.9 28.9 0 0 0 58 59V32.4L39.2 51.19zm-19-1.4a28.9 28.9 0 0 0 7.78-18.8H1.41l18.8 18.8zm7.78-20.8A28.9 28.9 0 0 0 20.2 10.2L1.41 29h26.57z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  font-weight: bold;
  font-size: 1.5em;
  text-shadow: 2px 1px 5px rgb(107, 55, 149);
}


.Hob > h3{
  margin-top: 10vh;
}


/* Habilidades */
  
:root {
	--b2: #222;
	--b3: #333;
	--w1: #fff;
	--w2: #eee;
	--t1: all 0.5s ease 0s;
}

#habilidades {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10px;
}

.content {
  width: 80vw;
	height: 80vh;
	background: #fff0;
}

.profile-skills {
	display: flex;
	top: 150px;
	position: relative;
	width: 100%;
	align-items: flex-start;
}

.profile-skills > div {
	width: 30%;
	margin-right: 3%;
	border-radius: 2px;
	position: relative;
}

ul.skills {
	width: 100%;
	position: relative;
	padding: 25px 35px;
	background: linear-gradient(0deg, #8e21e7 0 10px,	var(--b2) 0 calc(100% - 10px), #8e21e7 0 100%);
}

ul.skills2 {
	--c1: #cd32ab;
  background: linear-gradient(0deg, #cd32ab 0 10px,	var(--b2) 0 calc(100% - 10px), #cd32ab 0 100%);
}

ul.skills3 {
	--c1: #00b7ff;
  background: linear-gradient(0deg, #00b7ff 0 10px,	var(--b2) 0 calc(100% - 10px), #00b7ff 0 100%);
}

ul.skills:before {
	content: "Skills";
	text-transform: uppercase;
	position: absolute;
	top: -75px;
	height: 50px;
	color: var(--w1);
	background-color: var(--b2);
	width: 100%;
	left: 0;
	padding: 15px 15px 0 0;
	text-align: end;
	font-weight: 600;
	z-index: 1;
	transition: var(--t1);
	font-size: 50px;
	line-height: 35px;
	transform: scaleY(1.65);
}

ul.skills2:before {
	content: "Herramientas";
  font-size: 35px;
}

ul.skills3:before {
	content: "Códigos";
}

ul.skills:after {
	content: "";
	position: absolute;
	border: 40px solid #fff0;
	border-top-color: var(--b2);
	top: -30px;
	left: 10px;
	z-index: 0;
	transition: var(--t1);
	filter: drop-shadow(0 11px 0.1px var(--w1));
}

/*Color de fondo encabezado*/
ul.skills:hover:before,
label:hover + ul.skills:before,
input:checked + label + ul.skills:before {
	transition: var(--t1);
	background-color: #8e21e7;
	background-position: 0 50%;
}

/*Color de fondo flecha debajo de la palomita*/
ul.skills:hover:after,
label:hover + ul.skills:after,
input:checked + label + ul.skills:after {
	top: -20px;
	transition: var(--t1);
	border-top-color: #8e21e7;
}

ul.skills2:hover:before,
label:hover + ul.skills2:before,
input:checked + label + ul.skills2:before {
	background-color:  #cd32ab;
}
ul.skills2:hover:after,
label:hover + ul.skills2:after,
input:checked + label + ul.skills2:after {
	border-top-color:  #cd32ab;
}

ul.skills3:hover:before,
label:hover + ul.skills3:before,
input:checked + label + ul.skills3:before {
	background-color: #00b7ff;
}
ul.skills3:hover:after,
label:hover + ul.skills3:after,
input:checked + label + ul.skills3:after {
	border-top-color: #00b7ff;
}

ul.skills li {
	--per: 50;
	--dur: calc(calc(var(--per) / 100) * 1.5s);
	margin: 0 0 5px 0;
	list-style: none;
	padding: 20px 0;
	position: relative;
	text-transform: uppercase;
	font-size: 15px;
	color: var(--w2);
}

/* Color de fondo de barra de progreso*/
ul.skills li:before {
	content: "";
	position: absolute;
	background: #1c1c1c;
	height: 16px;
	width: 100%;
	left: 0;
	bottom: 0;
	border-radius: 2px;
	border: 1px solid #111;
	border-color: #111 #323232 #323232 #111;
	--track: #cd22dd40;
	background: linear-gradient(
		90deg,
		var(--track) calc(calc(var(--per) * 1%) + 4px),
		#1c1c1c calc(calc(var(--per) * 1%) + 4px)
	);
}

ul.skills2 li:before {
	--track: #cd328c40;
}

ul.skills3 li:before {
	--track: #00aeff40;
}

/* Color de barra de progreso */
ul.skills li:after {
	content: "";
	height: 11px;
	margin: 0 0 2px 0;
	background: #8e21e7;
	position: absolute;
	box-shadow: 0px 0px 10px 1px #cd22dd40;
	left: 3px;
	width: 0%;
	bottom: 0;
	transition: all var(--dur) ease 0s;
	animation: start 1s ease 0s 2 alternate;
}

ul.skills2 li:after {
	background: #cd32ab;
	box-shadow: 0px 0px 10px 1px #cd328c40;
}

ul.skills3 li:after {
	background: #00b7ff;
	box-shadow: 0px 0px 10px 1px #00b7ff;
}

ul.skills li:hover {
	filter: brightness(1.5);
	transition: var(--t1);
}

ul.skills:hover li:after,
label:hover + ul.skills li:after,
input:checked + label + ul.skills li:after {
	width: calc(calc(var(--per) * 1%) - 2px);
}

@keyframes start {
	100% {
		width: calc(calc(var(--per) * 1%) - 2px);
	}
}

ul.skills2 li:after {
	animation-delay: 0.5s;
}
ul.skills3 li:after {
	animation-delay: 1s;
}

ul.skills li span {
	font-weight: 500;
}

ul.skills li span:before {
	position: absolute;
	right: -25px;
	top: 43px;
	transition: var(--t1);
	content: "";
	opacity: 1;
	border: 7px solid #fff0;
}

/* Flecha izquierda del %*/
ul.skills li:hover span:before,
.profile-skills input:checked + label + ul.skills li span:before {
	transition: var(--t1);
	right: calc(calc(calc(100 - var(--per)) * 1%) - 12px);
	opacity: 1;
	border-right-color: #8e21e7;
}

ul.skills2 li:hover span:before,
.profile-skills input:checked + label + ul.skills2 li span:before {
	border-right-color:  #cd32ab;
}

ul.skills3 li:hover span:before,
.profile-skills input:checked + label + ul.skills3 li span:before {
	border-right-color: #00b7ff;
}

ul.skills li span:after {
	position: absolute;
	right: -40px;
	top: 38px;
	transition: var(--t1);
	counter-reset: percent var(--per);
	/*content: counter(percent) "%";*/
	content: counter(percent);
	color: var(--b2);
	opacity: 1 !important;
	padding: 4px 6px;
	border-radius: 1px;
	font-weight: bold;
	pointer-events: none;
}

/* Color del recuadro del %*/
ul.skills li:hover span:after,
.profile-skills input:checked + label + ul.skills li span:after {
	transition: var(--t1);
	right: calc(calc(85 - var(--per)) * 1%);
	right: calc(calc(calc(100 - var(--per)) * 1%) - 40px);
	opacity: 1;
	background: #8e21e7;
}

ul.skills2 li:hover span:after,
.profile-skills input:checked + label + ul.skills2 li span:after {
	background: #cd32ab;
}

ul.skills3 li:hover span:after,
.profile-skills input:checked + label + ul.skills3 li span:after {
	background: #00b7ff;
}

ul.skills2 li:hover span:after {
	background: #cd32ab;
}

ul.skills3 li:hover span:after {
	background: #00b7ff;
}

/*********************/
/*** SKILLS VALUES ***/
/*********************/

ul.skills li.sk-dtb { --per: 85; }
ul.skills li.sk-dis { --per: 95; }
ul.skills li.sk-pro { --per: 80; }
ul.skills li.sk-vis { --per: 90; }

ul.skills li.sk-sdi { --per: 85; }
ul.skills li.sk-fra { --per: 70; }
ul.skills li.sk-pla { --per: 95; }
ul.skills li.sk-paq { --per: 95; }

ul.skills li.sk-css { --per: 100; }
ul.skills li.sk-htm { --per: 95; }
ul.skills li.sk-jav { --per: 30; }
ul.skills li.sk-sql { --per: 80; }
ul.skills li.sk-boo { --per: 95; }




/*********************/
/***** TOP LABELS ****/
/*********************/

.profile-skills input {
	display: none;
}

.profile-skills label {
	background: var(--w1);
	position: absolute;
	top: -61px;
	left: 22px;
	z-index: 2;
	width: 55px;
	height: 55px;
	border-radius: 100%;
	cursor: pointer;
	transition: var(--t1);
	box-shadow: 0 0 0 0 var(--w1);
}

.profile-skills label:before {
	content: "";
	background: #fff0;
	position: absolute;
	top: 12px;
	left: 11px;
	z-index: 2;
	border: 9px solid var(--b2);
	border-top-width: 0;
	border-right-width: 0;
	transform: rotate(-45deg);
	width: 33px;
	height: 22px;
	border-radius: 2px;
	transition: var(--t1);
}

.profile-skills label:hover {
	box-shadow: 0 0 0 3px var(--w1);
	transition: var(--t1);
}

.profile-skills label:hover:before {
	border-color: var(--b2);
	transition: var(--t1);
}

.profile-skills input:checked + label {
	box-shadow: 0 0 0 6px var(--w1);
	transition: var(--t1);
}

/* Color de la palomita */
.profile-skills input:checked + label:before {
	border-color: #8e21e7;
}

.profile-skills input#sk2:checked + label:before {
	border-color: #cd32ab;
}

.profile-skills input#sk3:checked + label:before {
	border-color: #00b7ff;
}

label[for="sk1"] {
	left: 1.8vw;
}

label[for="sk2"] {
	left: 1.8vw;
}

label[for="sk3"] {
	left: 1.8vw;
}


label[for="sk1"]:before {
	border-color: rgb(214, 100, 237);
}
label[for="sk2"]:before {
	border-color: rgb(205, 50, 122);
}
label[for="sk3"]:before {
	border-color: rgb(0, 225, 255);
}

/*********************/
/*** BOTTOM LABELS ***/
/*********************/

ul.skills li.more {
	padding: 0;
	margin-bottom: 20px;
}

ul.skills li.more:before,
ul.skills li.more:after {
	display: none;
}

ul.skills li.more:hover {
	filter: none !important;
}

ul.skills li.more div {
	max-height: 0;
	transition: var(--t1);
	overflow: hidden;
	padding: 0;
	width: 100%;
}
ul.skills li.more input:checked ~ div {
	max-height: 150px;
	transition: var(--t1);
	padding: 20px 0 0;
}

ul.skills li.more div span:before,
ul.skills li.more div span:after {
	display: none;
}

ul.skills li.more label {
	background: linear-gradient(163deg, var(--b2) 50%, var(--w1) 50%);
	right: 0;
	left: inherit;
	top: inherit;
	bottom: -70px;
	color: var(--b2);
	background-size: 100% 300%;
	background-position-y: 100%;
	transition: var(--t1);
	width: 55px;
	height: 55px;
	right: -50px;
}

/* Color de boton de más */
ul.skills li.more label:before {
	border: 0;
	height: 100%;
	width: 100%;
	transform: rotate(0deg);
	content: "+";
	content: "\271A";
	font-size: 45px;
	line-height: 55px;
	left: 0;
	top: 0;
	text-align: center;
	color: #8e21e7;
}

ul.skills2 li.more label:before {
	border: 0;
	height: 100%;
	width: 100%;
	transform: rotate(0deg);
	content: "+";
	content: "\271A";
	font-size: 45px;
	line-height: 55px;
	left: 0;
	top: 0;
	text-align: center;
	color: #cd32ab;
}

ul.skills3 li.more label:before {
	border: 0;
	height: 100%;
	width: 100%;
	transform: rotate(0deg);
	content: "+";
	content: "\271A";
	font-size: 45px;
	line-height: 55px;
	left: 0;
	top: 0;
	text-align: center;
	color: #00b7ff;
}

/*----------------------------------------*/

ul.skills li.more label:hover {
	background-position-y: 0%;
	color: var(--w1) !important;
	transition: var(--t1);
	box-shadow: 0 0 0 10px var(--w1);
}

ul.skills li.more span {
	background: #1c1c1c;
	border-radius: 1px;
	margin: 10px 10px 1px 1px;
	padding: 4px 8px;
	display: inline-block;
	border: 1px solid #111;
	border-color: #111 #323232 #323232 #111;
}

/* Color de las etiquetas */
ul.skills li.more span:hover {
	color: var(--w0);
	background: #8e21e7;
	box-shadow: 0px 0px 5px 1px #8e21e7;
	border-color: #fff2;
}

ul.skills2 li.more span:hover {
	color: var(--w0);
	background: #cd32ab;
	box-shadow: 0px 0px 5px 1px #cd32ab;
	border-color: #fff2;
}

ul.skills3 li.more span:hover {
	color: var(--w0);
	background: #00b7ff;
	box-shadow: 0px 0px 5px 1px #00b7ff;
	border-color: #fff2;
}

/*-------------------------------------*/


ul.skills li.more input:checked + label {
	box-shadow: 0 0 0 9px var(--w1);
	background-position-y: 0%;
	color: var(--w0);
	bottom: -70px;
}

ul.skills li.more input:checked + label:before {
	content: "\2759";
	transform: rotate(90deg);
	font-weight: 600;
}

ul.skills li.more input:checked + label:hover {
	box-shadow: 0 0 0 0 var(--w1);
	background-position-y: 100%;
	color: var(--b2) !important;
}

/*********************/
/*** MEDIA QUERIES ***/
/*********************/
/*
@media only screen and (max-width: 1024px) {
	.content { height: 60vh; }
	.profile-skills {
		flex-direction: row;
    flex-wrap: wrap;
		top: 20px;
	}
	.profile-skills > div {
		width: 47% !important;
	}
	.profile-skills > div:nth-child(3) {
		width: 98% !important;
		margin-top: 120px;
	}
}


/*** Mobile view disabled to get (almost) the desired thumbnail ***/
/*** Uncomment below code to add the media query for mobile view ***/


@media only screen and (max-width: 768px) {
	.content{ 
    padding-top: 7vh;
    height: auto;
  }

	.profile-skills {
		flex-direction: row;
    flex-wrap: wrap;
		top: 50px;
	}

	.profile-skills > div {
		width: 98% !important;
    height: auto;
	}

	.profile-skills > div:nth-child(2), 
	.profile-skills > div:nth-child(3) {
		margin-top: 110px;
	}
	ul.skills li:after {
		width: calc(calc(var(--per) * 1%) - 2px);
	}
	ul.skills li span:before {
		transition: var(--t1);
		right: calc(calc(96.5 - var(--per)) * 1%);
		opacity: 1;
		border-right-color: #8e21e7;
	}

	ul.skills2 li span:before {
		border-right-color: #cd32ab;
    right: calc(calc(calc(100 - var(--per)) * 1%) - 12px);
	}
	ul.skills3 li span:before {
		border-right-color: #00b7ff;
	}
	ul.skills li span:after {
		transition: var(--t1);
		right: calc(calc(calc(100 - var(--per)) * 1%) - 40px);
		opacity: 1;
		background: var(--c1);
	}
}

/*         Cerfiticados         */

#Certificados{
  margin: 0 10vw;
}

.accordion-body>img{
  width: 50vw;
}

.accordion-item{
  background-color: #512d8ac2 !important;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(68, 196, 213, 0.39) !important;
}

.accordion-button:not(.collapsed) {
  background: rgb(18,12,43);
background: linear-gradient(90deg, rgba(18,12,43,1) 0%, rgba(104,71,157,1) 69%, rgba(176,160,246,1) 96%);
}

.accordion-item:first-of-type>.accordion-header .accordion-button {
  color: white;
}

.accordion-button:not(.collapsed){
  color: white !important;
}

.accordion-button.collapsed{
  color: white;
  background: rgb(18,12,43);
  background: linear-gradient(90deg, rgba(18,12,43,1) 0%, rgba(104,71,157,1) 69%, rgba(176,160,246,1) 96%);
}


/*================Responsive===================*/
  
@media screen and (max-width: 320px) {
  
  #BorderLineTop{
    width: 100%;
    padding-top: 1vw;
    border-bottom: 0.5px;
  }
  
  .main-header {
    padding-top: 5vw;
    height: 9vh;
    padding: 0rem 0.5rem;
  }
  
  .animate-charcter{
    font-size: 9vw;
  }
  
  .nav-links {
    background: rgb(18,12,43);
    background: linear-gradient(12deg, rgba(18,12,43,1) 68%, rgba(150,129,245,1) 100%);
  }
  
  .btn.btn-danger{
    margin: 0 -20vw;
  }

  .cd-horizontal-timeline .events-content h2 {
    font-size: 2.3em !important;
  }
  
  .content{ 
    padding-top: 7vh;
    height: auto;
  }

  ul.skills:before {
    font-size: 10vw;
  }
  
  ul.skills2:before {
  font-size: 5vw;
  }

  ul.skills3:before {
    font-size: 8vw;
  }

  label[for="sk1"] {
    left: 7vw;
  }

  label[for="sk2"] {
    left: 7vw;
  }

  label[for="sk3"] {
    left: 7vw;
  }

  .Hob{
    flex-direction: column;
  }
  .col-2>img{
    padding-left: 15vw;
  }

  #textHb{
    margin-bottom: 5vh;
  }

  }
  
  @media  screen and (min-width: 321px) and (max-width:375px){
  
  .main-header {
    padding-top: 5vw;
    height: 8vh;
  }
  
  .animate-charcter{
    font-size: 9vw;
  }
  
  .main-logo {
    padding-bottom: 1vh;
  }
  
  .button-menu{
    padding-bottom: 3vw;
  }
  
  .nav-links {
    background: rgb(18,12,43);
    background: linear-gradient(12deg, rgba(18,12,43,1) 68%, rgba(150,129,245,1) 100%);
  }

  .cd-horizontal-timeline .events-content h2 {
    font-size: 2.5em !important;
  }

  .content{ 
    padding-top: 7vh;
    height: auto;
  }

  ul.skills:before {
    font-size: 10vw;
  }
  
  ul.skills2:before {
  font-size: 5vw;
  }

  ul.skills3:before {
    font-size: 8vw;
  }

  label[for="sk1"] {
    left: 7vw;
  }

  label[for="sk2"] {
    left: 7vw;
  }

  label[for="sk3"] {
    left: 7vw;
  }

  .Hob{
    flex-direction: column;
  }
  .col-2>img{
    padding-left: 15vw;
  }

  #textHb{
    margin-bottom: 5vh;
  }

  }
  
  @media  screen and (min-width: 376px) and (max-width:770px){
  
  .main-header {
    padding-top: 5vw;
    height: 8vh;
  }
  
  .animate-charcter{
    font-size: 9vw;
  }
  
  .main-logo {
    padding-bottom: 3vh;
  }
  
  .container>.row{
    flex-direction: column;
  }
  
  .button-menu{
    padding-bottom: 2vw;
  }
  
  .nav-links {
    background: rgb(18,12,43);
    background: linear-gradient(12deg, rgba(18,12,43,1) 68%, rgba(150,129,245,1) 100%);
  }
  
  .btn.btn-danger{
    height: 8vh;
    width: 15vw;
    font-size: 0.8rem;
    margin: 0 -20vw;
  }

  .cd-horizontal-timeline .events-content h2 {
    font-size: 3em !important;
  }

  .content{ 
    padding-top: 7vh;
    height: auto;
  }

  ul.skills:before {
    font-size: 10vw;
  }
  
  ul.skills2:before {
  font-size: 5vw;
  }

  ul.skills3:before {
    font-size: 8vw;
  }

  label[for="sk1"] {
    left: 7vw;
  }

  label[for="sk2"] {
    left: 7vw;
  }

  label[for="sk3"] {
    left: 7vw;
  }

  .Hob{
    flex-direction: column;
  }
  .col-2>img{
    padding-left: 15vw;
  }

  #textHb{
    margin-bottom: 5vh;
  }

  }
  
  @media  screen and (min-width: 771px) and (max-width:991px){
  
  .main-header {
    padding-top: 5vw;
    height: 8vh;
  }
  
  .animate-charcter{
    font-size: 6vw;
  }
  
  .main-logo {
    padding-bottom: 4vh;
  }
  
  .container>.row{
    flex-direction: column;
  }
  
  .button-menu {
    display: none;
  }
  
  .main-nav {
    position: static;
    margin-left: 0;
    flex-basis: 70%;
    height: 100%;
    margin-bottom: 5vw;
  }
  
  .nav-links {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }
  
  .link-item {
    display: inline-block;
    margin-top: -0.5vw;
    margin-right: 2rem;
  }

  .content{ 
    padding-top: 7vh;
    height: auto;
  }

  ul.skills:before {
    font-size: 10vw;
  }
  
  ul.skills2:before {
  font-size: 5vw;
  }

  ul.skills3:before {
    font-size: 8vw;
  }

  label[for="sk1"] {
    left: 7vw;
  }

  label[for="sk2"] {
    left: 7vw;
  }

  label[for="sk3"] {
    left: 7vw;
  }

  .Hob{
    flex-direction: column;
  }
  .col-2>img{
    padding-left: 15vw;
  }

  #textHb{
    margin-bottom: 5vh;
  }
  
  }
  
  @media screen and (min-width: 992px) {
  .button-menu {
    display: none;
  }
  
  .main-header {
    height: 10vh;
  }
  
  .main-logo {
    flex-basis: 30%;
    padding-bottom: 4vh;
  }
  
  .main-nav {
    position: static;
    margin-left: 0;
    flex-basis: 80%;
    height: 100%;
    
  }
  
  .nav-links {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    margin-top: -2.5vw;
    
  }
  
  .link-item {
    display: inline-block;
    margin-top: 0;
    margin-right: 3rem;
    align-content: center;
    
  }

  .cd-horizontal-timeline .events-content h2 {
    font-size: 3em !important;
  }
  }